
body {
  font-family: 'Bebas Neue';
  font-family: 'IBM Plex Mono';
  margin: 0;
  padding: 0;
  background-color: #131848;
}

html {
  scroll-behavior: smooth;
  transition: 2s ease;
}

.padding-top-40 {
	padding-top: 40px;
}



#team .slick-dots li button {
  font-size: 0;
	width: 16px;
	height: 16px;
	border: 1px solid #fff;
	background: transparent;
	border-radius: 50%;
	margin: 0 5px;
}


#team .slick-dots li.slick-active button {
	width: 20px;
	height: 20px;
	background: #fff;
	border-color: var(--hover);
}

#team .slick-dots {
	display: flex;
	position: absolute;
	left: 50%;
  bottom: -60px;
	transform: translateX(-50%);
}


h1 {
	color: black;
}